$font-family-sans-serif:  "Source Sans Pro", Calibri, Candara, Arial, sans-serif; // original
$font-family-sans-serif:  "CV-Font", "OpenSans-Light", "Helvetica Neue", Helvetica, Arial, sans-serif; // modified
$font-family-sans-serif:  "CV-Font", "OpenSans", "Helvetica Neue", Helvetica, Arial, sans-serif; // modified
$font-family-serif:       Georgia, "Times New Roman", Times, serif;
//** Default monospace fonts for `<code>`, `<kbd>`, and `<pre>`.
$font-family-monospace:   Menlo, Monaco, Consolas, "Courier New", monospace;

$font-family-serif: "PT Serif", Georgia, "Times New Roman", serif;

$font-family-base:        $font-family-sans-serif;


$container-breakpoint: 940px;

$left-width: 11rem;
// $left-width: 8rem;