// .cv-container {
body { // support any markdown processor

  color: #545454;

  a {
    // color: #1a0dab; // Google link blue
    // color: #006621; // Google address green
    &:visited {
      // color: #609; // Google visited purple
    }
  }

  /* name */
  h1 {
    color: $primary-color;
    color: #000;
    font-weight: normal;
  }

  h4, h6 {
    color: $primary-color;
  }

  /* year */
  h6 {
    color: $primary-color;
  }


  /* Skills section */
  h6 + ul {
    list-style-image: 
      url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="8" height="8" viewBox="0 0 24 24"><path fill="none" d="M24 24H0V0h24v24z"/><circle fill="%23f41717" cx="12" cy="12" r="8"/></svg>')
      ;
    // list-style-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='10' height='10'><linearGradient id='gradient'><stop offset='10%' stop-color='%23F00'/><stop offset='90%' stop-color='%23fcc'/> </linearGradient><rect fill='url(%23gradient)' x='0' y='0' width='100%' height='100%'/></svg>");
    li > p {
    }
  }


  /* background bar */
  hr + .highlighter-rouge, hr + .highlight, hr + pre {
    background: $primary-color;
    border: 0;
    code {
      color: #FFF;
    }
  }

}